<!DOCTYPE html>
<html>
<head>
  <title>Cab Booking System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <h2 style="text-align:center; margin-top:50px;">
    Welcome to the Cab Booking System
  </h2>
</body>
</html>
